{% extends "generic/object.html" %}
{% load static %}
{# Breadcrumbs, title, the tab strip and the page body all come from the declarative layout #}
{# declared on ReorderView. Only the asset blocks, which a panel cannot reach, are overridden #}
{# here; the elevation itself lives in inc/reorder.html as a TemplatePanel. #}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'netbox_reorder_rack/css/rack.css' %}">
{% endblock head %}
{% block javascript %}
    <script type="text/javascript">
      const basePath = '{{ basepath }}';
      const netbox_csrf_token = '{{ csrf_token }}'
      const returnUrl = '{{ object.get_absolute_url }}';
      const rackId = {{ object.id }};
      const descUnits = {{ object.desc_units|lower }};
    </script>
    <script src="{% static 'netbox_reorder_rack/js/rack.js' %}" defer></script>
{% endblock javascript %}
